{% extends 'index.html' %}

{% block content %}
    <h1>Detail post</h1>
    <br>
    <p>Title: {{ post.title }}</p>
    <p>Description: {{ post.description }}</p>
    <p>Post created: {{ post.created_at }}</p>
    <p>Post updated: {{ post.updated_at }}</p>
    <hr>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.pk }} post picture" width="200">
    {% endif %}

    <hr>
    <a href="{% url 'add_comment' post.pk %}" class="btn btn-outline-success">Add comment</a>
    <a href="{% url 'update_post' post.pk %}" class="btn btn-outline-primary">Edit</a>
    <a href="{% url 'delete_post' post.pk %}" class="btn btn-outline-danger">Delete</a>
    <hr>
    {% if post.comments.all %}
        <h4>Comments</h4>
        {% for comment in post.comments.all %}
            <div class="alert alert-secondary" role="alert">
                <p>{{ comment.description }}</p>
                <br>
                <h6>{{ comment.created_at }}</h6>
            </div>
        {% endfor %}
    {% else %}
        <p>No comments</p>
    {% endif %}
{% endblock %}